body, html {
    margin : 0;
    height: 100%;
}

.container {
    background: #fdf8ed;
    height: 100%;
}

.btm_image{
    width: 100px;
    height: 100px;
}

.video {
    background:url(./action5.gif) repeat;
    height: 500px;
    width: auto;
}