body, html {
    height: 100%;
    margin: 0px;
}

.container {
    height: 100%;
    display: flex;
}

.less_box {
    height: 100%;
    width:15%;
    background: green;
    display: flex;
    align-items: center;
}

.content_box {
    height: 100%;
    width: 70%;
}

.more_box {
    height: 100%;
    width: 15%;
    background: goldenrod;
    align-items: center;
    display: flex;
}

.title {
    height:15%;
    width: 100%;
    background: lime;
}

.content {
    height: 70%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.footer {
    height: 15%;
    width: 100%;
    background: orange;
}

#less_button {
    font-size: 35px;
    transform: rotate(270deg);
    display: inline;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    cursor:pointer;
    outline: none;
    margin-right:auto;
}

#more_button {
    font-size: 35px;
    transform: rotate(90deg);
    display: inline;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    cursor:pointer;
    outline: none;
    margin-left: auto;
}

.empty {
    border: solid 1px black;
    width: 12vw;
    height: 9vw;
    display: inline-block;
    object-position: center;
    visibility: hidden;
}

.fill {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    background-image: url('http://source.unsplash.com/random/150x150');
    margin-top: 0.5vw;
    margin-left: 2vw;
    cursor: pointer;
}

/*  clock */
.title {
    display: flex;
    align-items: center;
}

#clock {
    margin-left: 30vw;
}
